.list{
   
    background-color: aqua;
    display: block;
}

.row{
    margin-left: 230px;
}

.line{
    margin-left: 240px;
    font-style:oblique;
    font-size: x-large;
    color: rgba(197, 8, 106, 0.896);
}

.form
{
    margin-left: 230px;
    border: black;
    border-width: 2px;
    border-style: solid ;
    background-color: darksalmon;

}

.label{
    font-style: oblique;
    font-weight: bold;
}